<%= form_tag("create", method: "post") do %>
  <%= label_tag(:name, "Name:") %>
  <%= text_field_tag(:name) %><br/>

  <%= label_tag(:description, "Description:") %>
  <%= text_field_tag(:description) %><br/>

  <%= label_tag(:color, "Color:") %>
  <%= select_tag(:color, Label::COLORS.inject("") {|options, color| options << "<option value='#{color}'>#{color}</option>" }.html_safe )%><br/>

<fieldset class="group">
<legend>Select Type</legend> 
  Case <%= check_box(:type, 'case') %>
  Macro <%= check_box(:type, 'macro') %>
  Article <%= check_box(:type, 'article') %>
</fieldset>

  <%= submit_tag("Create") %>
<% end %>
